{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-9">
        <div>
            {% include('@Shop/notice.html.twig') %}
        </div>
        {% if app.session.get('product_cart') is not empty %}
            <div class="col-xl-12 mb-lg-4">
                <div class="card">
                    <div class="card-header"><h2><span class="badge badge-danger">Your Shopping Cart</span></h2></div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Total</th>
                            </tr>
                            {% for product in app.session.get('product_cart') %}
                                <tr>
                                    <td>{{ product.productTitle }}</td>
                                    <td>{{ product.productQuantity }}</td>
                                    <td>$ {{ product.realPrice }}</td>
                                    <td>$ {{ product.productDiscount }}</td>
                                    <td>$ {{ product.subtotal }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="text-right" colspan="4">Total Discount:</td>
                                <td><strong>$ {{ app.session.get('total')['total-discount'] }}</strong></td>
                            </tr>
                            <tr class="alert-danger">
                                <td class="text-right" colspan="4">Total Price:</td>
                                <td><strong>$ {{ app.session.get('total')['total-price'] }}</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="user-form-divider"></div>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div id="user-form-container" class="col-xl-12">

        {% else %}
            <div class="col-xl-12 mt-4" id="login-user-alert">
                <div class="card ">
                    <div class="card-header">Anonymous User !</div>
                    <div class="card-body">
                        <div class="card-text">
                            <p>If you are a registered user please select the login button to log in.</p>
                            <p>if you are not a registered user please select the register button to register so you will use the benefits of a registered user!</p>
                        </div>
                    </div>
                    <div class="card-header text-center">
                        <h3>
                            <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-success btn-lg">Login</a>
                            <span class="badge badge-light"> Or </span>
                            <a href="{{ path('user_register') }}" class="btn btn-secondary btn-lg">Register</a>
                            <a id="show-user-form" href="#user-form-divider" class="btn btn-light btn-lg float-right">Continue with unregistered user &nbsp;<i class="icon-arrow-right"></i></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div id="user-form-container" class="col-xl-12" style="display: none">
        {% endif %}
                <div class="card">
                    <div class="card-header"><h4>Your user data</h4></div>
                    <div class="card-body" style="background-color: #b0b0b0">
                         {{ form_start(userForm) }}
                         {{ form_widget(userForm) }}
                         <button type="submit" class="btn btn-success btn-lg">Continue <i class="icon-arrow-right"></i></button>
                         {{ form_end(userForm) }}
                    </div>
                 </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script >
        $(document).ready(function() {
            $('#show-user-form').click(function() {
                $('#login-user-alert').fadeOut();
                $('#user-form-container').fadeIn();
            })
        })
    </script>

{% endblock %}