{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-9">
        {% include '@Shop/notice.html.twig' %}
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active"> SHOPPING CART</li>
        </ul>
        <div>
            <h3 class="d-inline-block"> SHOPPING CART [
                <small class="product-item-count">{{ productCartCounter }} </small>
                ]
            </h3>
            <a href="{{ path('home_page') }}" class="btn btn-light btn-lg float-right">
                <i class="icon-arrow-left"></i> Continue Shopping
            </a>
            <div class="clearfix"></div>
        </div>

        <hr>
        {% if app.session.get('product_cart') is not empty %}
            <a href="{{ path('clear_cart') }}">
                <button class="btn btn-danger"><i class="icon-eye-close"></i></button>
            </a>
            <table class="table table-hover cart-table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Quantity/Update</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for purchaseProduct in app.session.get('product_cart') %}
                    <tr class="cart-table-row" id="item-product-{{ purchaseProduct.id }}">
                        <td>
                            <img class="img-thumbnail" width="50"
                                 src="{{ purchaseProduct.imagePath is not defined?asset('images/admin_panel/no-image-icon-6.png'):asset('images/product_images/'~purchaseProduct.imagePath) }}"
                                 alt="">
                        </td>
                        <td>{{ purchaseProduct.productTitle }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-light"><strong
                                            id="purchase-count-{{ purchaseProduct.id }}">{{ purchaseProduct.productQuantity }}</strong>
                                </button>
                                <button class="btn btn-info remove-item" data-id="{{ purchaseProduct.id }}"><i
                                            class="icon-minus"></i></button>
                                <a class="btn btn-secondary"
                                   href="{{ path('add_product_to_cart',{'id':purchaseProduct.id}) }}"><i
                                            class="icon-plus"></i></a>
                                <a class="btn btn-danger"
                                   href="{{ path('remove_product_to_cart',{'id':purchaseProduct.id}) }}"><i
                                            class="icon-remove icon-white"></i></a>
                            </div>
                        </td>
                        <td id="real-price-{{ purchaseProduct.id }}">${{ purchaseProduct.realPrice}}</td>
                        <td id="product-discount-{{ purchaseProduct.id }}">${{ purchaseProduct.productDiscount }}</td>
                        <td id="cart-subtotal-{{ purchaseProduct.id }}">${{ purchaseProduct.subtotal }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="5" style="text-align:right">Total Discount:</td>
                    <td id="total-discount">${{ app.session.get('total')['total-discount'] }}</td>
                </tr>
                <tr class="alert-danger">
                    <td colspan="5" style="text-align:right"><strong>Total Price </strong></td>
                    <td class="label label-important" style="display:block">
                        <strong class="cart-total">${{ app.session.get('total')['total-price'] }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="{{ path('home_page') }}" class="btn btn-light btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
        <a href="{{ path('step_one') }}" class="btn btn-success btn-large float-right">Buy Now   <i class="icon-arrow-right"></i></a>
            <div class="jumbotron cart-empty" style="display: none">

        {% else %}
            <div class="jumbotron cart-empty">

        {% endif %}

                <button class="btn btn-warning btn-lg"><span style="color: #ffffff;font-weight: bold">No products in your cart !</span></button>
            </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.remove-item').click(function () {
                let productId = $(this).data('id');
                $.ajax({
                    url: 'product_cart/remove_one_item/' + productId,
                    method: 'POST',
                    success: function (r) {
                        if (r.product_count === null) {
                            window.location.href = '/products_summary';
                            return;
                        }
                        if (r.product_count === 0) {
                            let cartTableRow = '#item-product-' + productId;
                            $(cartTableRow).remove();
                            console.log(cartTableRow);
                            if ($('.cart-table-row').length === 0) {
                                $('.cart-table').remove();
                                $('.cart-empty').show();
                            }
                        }
                        updateElements(r,productId);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                })
            });
            function updateElements(r,productId) {
                        $(`#real-price-${productId}`).html('$'+r.product_price);
                        $(`#product-discount-${productId}`).html('$'+r.product_discount);
                        $(`#cart-subtotal-${productId}`).html('$'+r.subtotal);
                        $('#total-discount').html('$'+r.total_discount);
                        $('.cart-total').html('$'+r.total_price);
                        $(`#purchase-count-${productId}`).html(r.product_count);
                        $('.product-item-count').html(r.items_count===null?'0':r.items_count);
            }
        })
    </script>

{% endblock %}