{% extends 'admin_panel.html.twig' %}

{% block admin_block_title %}
    Image Manager
{% endblock %}
{% block admin_body %}
    {{ include('@Shop/notice.html.twig') }}

    <div class="row">
        <div class="col-md-12">
            {% include('@Shop/image/category_filter') %}
            {% if images is empty %}
                <h4 class="display-4">No images this !</h4>
            {% else %}
                <table class="table table-hover">
                    <tr>
                        <th><input type="checkbox" id="check-all"></th>
                        <th>IMAGE</th>
                        <th>
                            {{ knp_pagination_sortable(images, 'NAME', 'im.path') }}
                        </th>
                        <th>{{ knp_pagination_sortable(images, 'SIZE', 'im.imageSize') }}</th>
                        <th>CATEGORY</th>
                        <th>{{ knp_pagination_sortable(images, 'DATE UPLOADED', 'im.dateUpload') }}</th>
                    </tr>
                    {% for image in images %}
                        <tr class="image-list">
                            <td><input type="checkbox" name="image-check" class="delete-image" value="{{ image.id }}"></td>
                            <td>
                                <div class="images_thumb">
                                    <img src="/images/product_images/{{ image.path }}" alt="{{ image.path }}">
                                </div>
                            </td>
                            <td>
                                <a class="change-path" href="#" data-id="{{ image.id }}" data-name="{{ image.path }}" data-toggle="modal"
                                   data-target="#categoryImageModal">
                                    {{ image.path }}
                                </a>
                            </td>
                            <td>{{ (image.imageSize/1000)|round(1,'floor') }} KB</td>
                            <td><a class="change-category" href="#" title="Change category" data-id="{{ image.id }}"
                                   data-name="{{ image.path }}" data-toggle="modal"
                                   data-target="#categoryImageModal">{{ image.category is empty ? "___" : image.category }}</a>
                            </td>
                            <td>{{ image.dateUpload|date("m - d - Y") }}</td>
                        </tr>

                    {% endfor %}
                </table>
                <hr>
                <div class="float-left">
                    <button type="button" class="btn btn-danger btn-small" id="delete-image-btn" disabled>Delete image</button>
                </div>
                <div class="float-right">
                    <span>Total images ( {{ images.getTotalItemCount }} )</span>
                </div>
                <div class="clearfix"></div>
                <hr>

            {% endif %}

            {% include('@Shop/category_image_modal') %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="navigation">
                {{ knp_pagination_render(images,null,{},{
                    'align': 'center',
                    'size': 'small',
                    'rounded': false
                }) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="upload-form">
                {{ form_start(uploadForm) }}
                {{ form_errors(uploadForm.path) }}
                <div>
                    {{ form_widget(uploadForm.path) }}
                    {{ form_widget(uploadForm.category) }}
                    <button type="submit" class="btn btn-success btn-small" id="upload-btn">Upload</button>
                </div>
                {{ form_end(uploadForm) }}
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#check-all').click(function () {
                let ckbox = $('input:checkbox');
                if (!ckbox.prop('checked') === false) {
                    ckbox.prop('checked', true);
                    console.log('ok');
                }
                else {
                    ckbox.prop('checked', false);
                }
            });
            $('.change-category').click(function () {
                let lnkText = $(this);
                let form = $('#edit-category-form');
                let dataID = $(this).data('id');
                $('#shop_bundle_category_image_type_path').val(lnkText.data('name'));
                form.attr('action', '/admin_panel/edit_image/' + dataID);
                form.submit(function (e) {
                    let url = form.attr('action');
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(),
                        success: function (d) {
                            $('#categoryImageModal').modal('hide');
                            lnkText.text(d.category);
                            $(`.change-path[data-id=${dataID}]`).text(d.path);
                        }
                    });

                    e.preventDefault();
                });
            });
            $('.change-path').click(function () {
                let lnkText = $(this);
                let form = $('#edit-category-form');
                let dataID = $(this).data('id');
                $('#shop_bundle_category_image_type_path').val(lnkText.data('name'));
                form.attr('action', '/admin_panel/edit_image/' + $(this).data('id'));
                form.submit(function (e) {
                    let url = form.attr('action');
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(),
                        success: function (d) {
                            $('#categoryImageModal').modal('hide');
                            lnkText.text(d.path);
                            $(`.change-category[data-id=${dataID}]`).text(d.category);
                        }
                    });

                    e.preventDefault();
                });
            });
            $('#edit-category-submit').click(function () {
                $('#edit-category-form').submit();
            });
            $('#delete-image-btn').click(function () {
                let checkedValues = $('input[name="image-check"]:checked').map(function() {
                    return this.value;
                }).get();
                $(`<form action="/admin_panel/delete_image" method="POST"><input type="hidden" name="ids" value="${checkedValues}">`).appendTo(document.body).submit();
                console.log(checkedValues);
            });
            $('input:checkbox').click(function () {
                let checked = $('input[name="image-check"]:checked').length;
                if(checked > 0){
                    $('#delete-image-btn').prop('disabled',false).text(`Delete ${checked} ${checked === 1?`image`:`images`}`);
                } else {
                    $('#delete-image-btn').prop('disabled',true).text("Delete image");
                }
            })
        })
    </script>
{% endblock %}