<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block title %}
        <title>Online Shop</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" href="{{ asset('themes/images/ico/favicon.ico') }}">
    <!-- Bootstrap style -->
    {% block stylesheet %}
        {% stylesheets 'assetic/bootstrap_css.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link href="{{ asset('themes/css/base.css') }}" rel="stylesheet" media="screen"/>
        <link href="{{ asset('themes/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('themes/js/google-code-prettify/prettify.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<div class="container">
</div>
<div id="header">
    <div class="container">
        <div id="welcomeLine" class="row">
            <div class="col-md-6">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    Welcome <span id="text-username"> {{ app.user.username }}</span>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <a href="#">
                        <button class="btn btn-sm btn-primary"><i class="icon-shopping-cart icon-white"></i>
                            <span class="badge badge-light">{{ app.session.get('cart')|length}}</span>
                            {{ (app.session.get('cart')|length >1)?'Items in your cart':'Item in your cart' }}
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Navbar ================================================== -->
    </div>
    <div class="container">
        <nav id="logoArea" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="brand" href="{{ path('home_page') }}"><img src="{{ asset('themes/images/logo.png') }}" alt="Bootsshop"/></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="topMenu" class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('admin_panel') }}">Dashboard</a></li>
                    {% endif %}

                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('my_profile',{'id':app.user.id}) }}">My profile</a></li>
                        <li class="nav-item"> <a class="nav-link" href="{{ path('logout') }}" >
                                <span class="btn btn-success">Logout</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item"> <a class="nav-link" href="{{ path('user_register') }}">Register</a></li>
                        <li class="nav-item">
                            <a class="nav-link"  data-toggle="modal" data-target="#loginModal">
                                <span class="btn  btn-success">Login</span>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>

</div>

{{ include('@App/forms/login_modal.html.twig') }}

<!-- Header End====================================================================== -->
    {% block carousel %}

    {% endblock %}
<div id="mainBody">
    <div class="container">
        <div class="row">

            {% block sidebar %}
                {{ render(controller(
                    'ShopBundle:Category:listAllCategories'
                )) }}
            {% endblock %}


            {% block body %}
            {% endblock %}

        </div>
    </div>
</div>
<!-- Footer ================================================================== -->
<div  id="footerSection">
    <div class="container">
        <div class="row">
            <div class="span3">
                    <h5>ACCOUNT</h5>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('my_profile',{'id':app.user.id}) }}">YOUR ACCOUNT</a>
                {% endif %}
                    <a href="{{ path('user_register') }}">REGISTER</a>
                    <a href="login.html">ADDRESSES</a>
                    <a href="login.html">DISCOUNT</a>
                    <a href="login.html">ORDER HISTORY</a>

            </div>
            <div class="span3">
                <h5>INFORMATION</h5>
                <a href="contact.html">CONTACT</a>
                <a href="register.html">REGISTRATION</a>
                <a href="legal_notice.html">LEGAL NOTICE</a>
                <a href="tac.html">TERMS AND CONDITIONS</a>
                <a href="faq.html">FAQ</a>
            </div>
            <div class="span3">
                <h5>OUR OFFERS</h5>
                <a href="#">New Product</a>
                <a href="#">MANUFACTURERS</a>
                <a href="#">SUPPLIERS</a>
            </div>
            <div id="socialMedia" class="span3 pull-right">
                <h5>SOCIAL MEDIA </h5>
                <a href="#"><img width="60" height="60" src="{{ asset('themes/images/facebook.png') }}" title="facebook" alt="facebook"/></a>
                <a href="#"><img width="60" height="60" src="{{ asset('themes/images/twitter.png') }}" title="twitter" alt="twitter"/></a>
                <a href="#"><img width="60" height="60" src="{{ asset('themes/images/youtube.png') }}" title="youtube" alt="youtube"/></a>
            </div>
        </div>
        <p class="pull-right">&copy; Bootshop</p>
    </div><!-- Container End -->
</div>

<!-- Placed at the end of the document so the pages load faster ============================================= -->
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">

    </script>
    {% javascripts
        'assetic/jquery.js'
        'assetic/bootstrap_js.js'
        'assetic/feather_icon.js'
        'assetic/filter-form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('themes/js/google-code-prettify/prettify.js') }}"></script>
    <script src="{{ asset('themes/js/bootshop.js') }}"></script>
    <script src="{{ asset('themes/js/jquery.lightbox-0.5.js') }}"></script>
    <script src="{{ asset('themes/js/main.js') }}"></script>
    <script>
        $(document).ready(function () {
            feather.replace();
            function setActiveTab(tabId) {
                $('#' + tabId).tab('show')
            }
        });

    </script>

{% endblock %}
<!-- Themes switcher section ============================================================================================= -->
</body>
</html>
