{% if is_granted('ROLE_EDITOR') %}
    <h2>Admin menu</h2>
    <div class="well">
        <div class="btn-group">
            <a class="btn btn-large btn-default" href="{{ path('user_manager') }}"> Users </a>
            <a class="btn btn-large btn-default" href="{{ path('list_categories') }}"> Categories </a>
            <a class="btn btn-large btn-default" href="{{ path('promotion_index') }}"> Promotions </a>
            <a class="btn btn-large btn-default" href="{{ path('create_product') }}"> Products </a>
            <a class="btn btn-large btn-default" href="{{ path('home_page') }}"> Orders </a>
        </div>
    </div>
{% endif %}

