{% extends '@App/base.html.twig' %}

{% block body %}
    <style>
        td {
            padding: 10px ;
        }
    </style>
    {% include('@Shop/Default/admin_menu.html.twig') %}
    {%  include('@Shop/notice.html.twig') %}
    <table border="1">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>QTY</th>
            <th>promotion</th>
            {% if is_granted('ROLE_EDITOR') %}
                <th>action</th>
            {% endif %}
        </tr>
    {% for product in products  %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.quantity }}</td>
            <td> {% if product.promotion is null %}
                    Without promotion !
                 {% else %}
                     {{ product.promotion.title }}
                {% endif %}
            </td>
            {% if is_granted('ROLE_EDITOR') %}
            <td>
                <a type="button" class="btn btn-small btn-warning " href="{{ path('edit_product',{'slug':product.slug}) }}">Edit !</a>
                <button  type="button" data-id="{{ product.slug }}" class="btn-small btn-danger" data-toggle="modal" data-target="#deleteProductModal">
                    Delete !
                </button>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

    {% include('@Shop/product/delete_product_modal_dialog.html.twig') %}

{% endblock %}

{% block javascript %}
{{ parent() }}
<script >
    var btn = $("[type='button']");
    btn.on('click',function() {
        var slug = $(this).data('id');
        $('#delete_link').attr('href',"/product/delete/"+slug);
    })
</script>
{% endblock %}