{% extends 'base.html.twig' %}

{% block body %}
    <style>
        td {
            padding: 10px ;
        }
    </style>
<div class="span9">
    

    <ul class="breadcrumb">
        <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
        <li class="active">Product List</li>
    </ul>

    {%  include('@Shop/notice.html.twig') %}
    
    <table border="1">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>QTY</th>
            <th>pictures</th>
            <th>promotion</th>
            {% if is_granted('ROLE_EDITOR') %}
                <th>action</th>
            {% endif %}
        </tr>
    {% for product in products  %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.quantity }}</td>
            <td>{% for image in product.images %}
                    <div class="list_product_thumb">
                        <img src="{{ asset('images/product_images/'~image.path) }}" alt="">
                    </div>
                {% endfor %}
            </td>
            <td> {% if product.promotion is null %}
                    Without promotion !
                 {% else %}
                     {{ product.promotion.title }}
                {% endif %}
            </td>
            {% if is_granted('ROLE_EDITOR') %}
            <td>
                <a type="button" class="btn btn-small btn-warning " href="{{ path('edit_product',{'slug':product.slug}) }}">Edit !</a>
                <button  type="button" data-id="{{ product.slug }}" class="btn-small btn-danger" data-toggle="modal" data-target="#deleteProductModal">
                    Delete !
                </button>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
    {% set caption = 'Delete product' %}
    {% set entityName = 'product' %}
    {% include('@Shop/delete_modal_dialog') %}

{% endblock %}

{% block javascript %}
{{ parent() }}
<script >
    var btn = $("[type='button']");
    btn.on('click',function() {
        var slug = $(this).data('id');
        $('#delete_link').attr('href',"/product/delete/"+slug);
    })
</script>
{% endblock %}