{% extends 'admin_panel.html.twig' %}
{% block admin_block_title %}
           Product manager
{% endblock %}
{% block admin_body %}

    {% include('@Shop/notice.html.twig')  %}
    {% include ('@Shop/product/nav_product.html.twig') %}

    <div class="preview_product_by_admin">
        <table class="table table-hover">
            <tr>
                <th scope="col">{{ knp_pagination_sortable( products,'TITLE','pt.title' )  }}</th>
                <th>CATEGORY</th>
                <th scope="col">IMAGES</th>
                <th scope="col">{{ knp_pagination_sortable( products,'QTY','pt.quantity' ) }}</th>
                <th scope="col">PROMOTION</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>ACTION</th>
                {% endif %}
            </tr>
            {% for purchaseProduct in products  %}
            <tr>
                <td>{{ purchaseProduct.title }}</td>
                <td>{{ purchaseProduct.category }}</td>
                <td>
                    {% for image in purchaseProduct.images %}
                    <div class="gallery">
                        <a href="{{ asset('images/product_images/'~image.path) }}">
                        <div class="images_thumb">
                            <img class="img-thumbnail" src="{{ asset('images/product_images/'~image.path) }}" alt="{{ image.path }}"/>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </td>
                <td>{{ purchaseProduct.quantity }}</td>
                <td> {% if purchaseProduct.promotion is null %}
                        Without promotion !
                    {% else %}
                        {{ purchaseProduct.promotion.title }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="na">
                            <a type="button" class="btn btn-info" href="{{ path('show_product',{'slug':purchaseProduct.slug}) }}">Details</a>
                            <a type="button" class="btn  btn-warning " href="{{ path('edit_product',{'slug':purchaseProduct.slug}) }}">Edit</a>
                            <button type="button" data-id="{{ purchaseProduct.slug }}" class="btn btn-danger" data-toggle="modal" data-target="#deleteProductModal">
                                Delete
                            </button>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <div class="col-md-12">
            <div class="navigation">
                {{ knp_pagination_render(products,null,{},{
                    'align': 'center',
                    'size': 'small',
                    'rounded': false
                }) }}
            </div>
        </div>

    </div>
    
    {% set caption = 'Delete Product' %}
    {% set entityName = 'Product' %}
    {% include('@Shop/delete_modal_dialog') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            let gallery = $('.gallery a').simpleLightbox();

            $('#products-menu-link').tab('show');
            $('#all_products_tab').tab('show').click(function () {
                $(this).tab('show');
            });

            $('#category-tab').click(function () {
                $(this).tab('show');
            });

            let btn = $("[type='button']");
            btn.on('click',function() {
                let slug = $(this).data('id');
                $('#delete_link').attr('href',"/purchaseProduct/delete/"+slug);
            });
        })
    </script>
{% endblock %}

