{% extends 'admin_panel.html.twig' %}
{% block admin_block_title %}
           Product manager
{% endblock %}
{% block admin_body %}
    {% include ('@Shop/product/nav_product.html.twig') %}
    <div class="preview_product_by_admin">
        <table class="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">QTY</th>
                <th scope="col">PROMOTION</th>
                {% if is_granted('ROLE_EDITOR') %}
                    <th>ACTION</th>
                {% endif %}
            </tr>
            {% for product in products  %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td> {% if product.promotion is null %}
                        Without promotion !
                    {% else %}
                        {{ product.promotion.title }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_EDITOR') %}
                    <td>
                        <a type="button" class="btn btn-small btn-warning " href="{{ path('edit_product',{'slug':product.slug}) }}">Edit !</a>
                        <button type="button" data-id="{{ product.slug }}" class="btn-small btn-danger" data-toggle="modal" data-target="#deleteProductModal">
                            Delete !
                        </button>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

    </div>

    {% include('@Shop/product/delete_product_modal_dialog.html.twig') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#all_products_tab').tab('show');
    </script>
{% endblock %}

