{% extends 'admin_panel.html.twig' %}
{% block admin_block_title %}
           Product manager
{% endblock %}
{% block admin_body %}

    {% include('@Shop/notice.html.twig')  %}
    {% include ('@Shop/product/nav_product.html.twig') %}



    <div class="preview_product_by_admin">
        <table class="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th>CATEGORY</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">QTY</th>
                <th scope="col">PROMOTION</th>
                {% if is_granted('ROLE_EDITOR') %}
                    <th>ACTION</th>
                {% endif %}
            </tr>
            {% for product in products  %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.title }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td> {% if product.promotion is null %}
                        Without promotion !
                    {% else %}
                        {{ product.promotion.title }}
                    {% endif %}
                </td>
                {% if is_granted('ROLE_EDITOR') %}
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="na">
                            <a type="button" class="btn btn-info" href="#">Details</a>
                            <a type="button" class="btn  btn-warning " href="{{ path('edit_product',{'slug':product.slug}) }}">Edit</a>
                            <button type="button" data-id="{{ product.slug }}" class="btn btn-danger" data-toggle="modal" data-target="#deleteProductModal">
                                Delete
                            </button>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

    </div>
    
    {% set caption = 'Delete product' %}
    {% set entityName = 'product' %}
    {% include('@Shop/delete_modal_dialog') %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#all_products_tab').tab('show');
    </script>
    <script >
        var btn = $("[type='button']");
        btn.on('click',function() {
            var slug = $(this).data('id');
            $('#delete_link').attr('href',"/product/delete/"+slug);
        })
    </script>
{% endblock %}

