{% extends 'admin_panel.html.twig' %}

{% block admin_block_title %}
    Create new product
{% endblock %}

{% block admin_body %}
    <div class="row">
        <div class="col-md-12">
            {%  include('@Shop/notice.html.twig') %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

             {%   include('@Shop/product/nav_product.html.twig') %}

            <div class="jumbotron">
                {{ form_start(form,{'legend':false}) }}
                {{ form_row(form) }}
                {{ form_end(form) }}
                <a class="btn btn-success" href="{{ path('create_category')}}">Create new category</a>
                <a class="btn btn-success" href="{{ path('promotion_new') }}">Create new promotion</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add images</button>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>

    {{ render(controller(
        'ShopBundle:Image:addImagesToProduct'
    )) }}

{% endblock  %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/category-filter.js') }}" ></script>
    <script src="{{ asset('js/preview_image.js') }}"></script>
    <script>
        $('.dropdown-item').categoryFilter();
        $('#all_images_tab').categoryFilter();
        $('#new_product_tab').tab('show');
    </script>
{% endblock %}