{% extends 'admin_panel.html.twig' %}
{% block admin_block_title %}
    Edit product
{% endblock %}
{% block admin_body %}
    <div class="row">
        <div class="col-md-12">
            {%  include('@Shop/notice.html.twig') %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include ('@Shop/product/nav_product.html.twig') %}
            <div class="jumbotron">
                {{ form_start(form,{'legend':false}) }}
                {{ form_row(form.title) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.description) }}
                {{ form_row(form.features) }}
                {{ form_row(form.information) }}
                {{ form_row(form.rating) }}
                {{ form_row(form.category) }}
                <div class="form-group row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-success btn-sm">Add category</button>
                    </div>
                </div>

                {{ form_row(form.promotion) }}
                <div class="form-group row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-success btn-sm">Add promotion</button>
                    </div>
                </div>
                <hr>
                <div class="form-group row" id="product-form-img">
                    {% for image in product.images %}
                        <div class="col-sm-6 col-md-4 col-lg-2 filter Huawey" data-id="Mobile Phone">
                            <div class="card " style="width: 120px;" data-id="{{ image.id }}" data-path="{{ image.path }}">
                                <div class="card-header">
                                    <div class="attach-images">
                                        <img class="card-img-top" src="/images/product_images/{{ image.path }}" alt="{{ image.path }}">
                                        <span class="check-icon" data-feather="check-square"></span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text" style="font-size: 0.8rem">{{ image.path }}</p>
                                </div>
                                <img src="{{ asset('images/admin_panel/close-browser.png') }}" class="close-image-icon" alt="close-image"
                                     data-id="{{ image.id }}" data-product="{{ product.id }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">Add images</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 align-content-lg-center">
                        <button type="submit" class="btn btn-success" id="submit-product-form">Edit Product</button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

    {{ render(controller(
        'ShopBundle:Image:addImagesToProduct'
    )) }}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/category-filter.js') }}" ></script>
    <script src="{{ asset('js/preview_image.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-item').categoryFilter();
            $('#all_images_tab').categoryFilter();
        })

    </script>
{% endblock %}

