{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="span8">
        <ul class="breadcrumb">
            <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
            <li><a href="{{ path('user_manager') }}">Users</a> <span class="divider">/</span></li>
            <li class="active">Add_role</li>
        </ul>
        <h2>Available Role</h2>
        {% include '@App/notise.html.twig' %}
        <div class="container">
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Available Role</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                        <tr>
                            <td>{{ role.id }}</td>
                            <td>{{ role.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p>Consider carefully the creation of roles</p>
        <h2>Add user role</h2>
        {{ form(form) }}
    </div>
{% endblock %}