{% extends '@App/base.html.twig' %}

{% block title %}
    <title>Users-Online Shop</title>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    <div class="span11">
        {{ include('@Shop/Default/admin_menu.html.twig') }}
        <ul class="breadcrumb">
            <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
            <li class="active">All_user</li>
        </ul>
        <h2> Preview all users</h2>
        <div class="container">
                <h3>Users</h3>
            {% include '@App/notise.html.twig' %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>User is active</th>
                    <th>Banned user</th>
                    <th>User Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.isactive == 1 %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            {% if user.isNotLocked %}
                                No
                            {% else %}
                                Yes
                            {% endif %}
                        </td>
                        <td>
                            {% for userRole in user.roles %}
                                {{ userRole }}
                            {% endfor %}
                        </td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('user_edit',{'id':user.id}) }}">Edit!</a>
                            <button  type="button" data-id="{{ user.id }}" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                 Delete !
                            </button>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a class="btn  btn-warning" href="{{ path('create_role') }}">Add new role</a></p>
        </div>
    </div>
    {% include '@App/security/delete_user_modal_dialog.html.twig' %}
{% endblock %}

{% block javascript %}
{{ parent() }}
 <script >
     var btn = $("[type='button']");
     btn.on('click',function() {
         var userId = $(this).data('id');
         $('#delete_link').attr('href',userId+"/delete_user");
     })
</script>
{% endblock %}