{% extends '@basic/base.html.twig' %}

{% block title %}
    <title>Login-Online Shop</title>
{% endblock %}

{% block body %}
    <div class="span9">
    <ul class="breadcrumb">
        <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
        <li class="active">Login</li>
    </ul>
    {% include '@App/notise.html.twig' %}
    <h3> Login</h3>
    <hr class="soft"/>

    <div class="row">
        <div class="span8">
            <div class="well">



                <form action="{{ path('proba') }}" method="post" name="form_login">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" /><br/>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" /><br/>

                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Remember me !</label><br/>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-success" type="submit">Login !</button>
                </form>

                <p>
                    <span class="form-links"><a href="{{ path('forgot_password') }}">Forgot your password !</a></span>
                    <span class="form-links"><a href="{{ path('user_register') }}">Registration !</a></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}