{% extends 'admin_panel.html.twig' %}

{% block admin_block_title %}
    Promotion manager
{% endblock %}

{% block admin_body %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Discount</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{promotion.id }}</td>
                <td>{{ promotion.title }}</td>
                <td>{{ promotion.discount }}</td>
                <td>{% if promotion.startDate %}{{ promotion.startDate|date('Y m d ') }}{% endif %}</td>
                <td>{% if promotion.endDate %}{{ promotion.endDate|date('Y m d ') }}{% endif %}</td>
                <td>{% if promotion.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="na">
                        <a type="button" class="btn btn-info" href="{{ path('promotion_show', { 'id': promotion.id }) }}">Details</a>
                        <a type="button" class="btn btn-warning" href="{{ path('promotion_edit', { 'id': promotion.id }) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('promotion_new') }}">Create a new promotion</a>
        </li>
    </ul>
{% endblock %}
