{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-9">
        {% include '@Shop/notice.html.twig' %}
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active"> SHOPPING CART</li>
        </ul>
        <div>
            <h3 class="d-inline-block">  SHOPPING CART [ <small>{{ productCartCounter }} </small>] </h3>
            <a href="{{ path('home_page') }}" class="btn btn-light btn-lg float-right">
                <i class="icon-arrow-left"></i> Continue Shopping
            </a>
            <div class="clearfix"></div>
        </div>

        <hr>
        {% if app.session.get('product_cart') is not empty %}
            <a href="{{ path('clear_cart') }}">
                <button class="btn btn-danger"><i class="icon-eye-close"></i></button>
            </a>
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Quantity/Update</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for product in app.session.get('product_cart') %}
            <tr>
                <td>
                    <img class="img-thumbnail" width="50" src="{{product.imagePath is not defined?asset('images/admin_panel/no-image-icon-6.png'):asset('images/product_images/'~product.imagePath) }}" alt="">
                </td>
                <td>{{ product.productTitle }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-light"><strong>{{ product.productQuantity }}</strong></a>
                        <a class="btn btn-info" href="{{ path('remove_item_to_cart',{'id':product.id}) }}"><i class="icon-minus"></i></a>
                        <a class="btn btn-secondary" href="{{ path('add_product_to_cart',{'id':product.id}) }}" ><i class="icon-plus"></i></a>
                        <a class="btn btn-danger" href="{{ path('remove_product_to_cart',{'id':product.id}) }}"><i class="icon-remove icon-white"></i></a>
                    </div>
                </td>
                <td>{{ product.productPrice }}    </td>
                <td>{{ product.productPrice }} </td>
                <td>{{ product.subtotal }}        </td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="5" style="text-align:right">Total Price:	</td>
                <td> $228.00</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:right">Total Discount:	</td>
                <td> $50.00</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:right"><strong>TOTAL ($228 - $50 + $31) =</strong></td>
                <td class="label label-important" style="display:block"> <strong> {{ app.session.get('total') }} </strong></td>
            </tr>
            </tbody>
        </table>
        {% else %}
        <div class="jumbotron">
            <button class="btn btn-warning btn-lg"><span style="color: #ffffff;font-weight: bold">No products in your cart !</span></button>
        </div>

        {% endif %}

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label"><strong> VOUCHERS CODE: </strong> </label>
                            <div class="controls">
                                <input type="text" class="input-medium" placeholder="CODE">
                                <button type="submit" class="btn"> ADD </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>

        <table class="table table-bordered">
            <tbody><tr><th>ESTIMATE YOUR SHIPPING </th></tr>
            <tr>
                <td>
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputCountry">Country </label>
                            <div class="controls">
                                <input type="text" id="inputCountry" placeholder="Country">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPost">Post Code/ Zipcode </label>
                            <div class="controls">
                                <input type="text" id="inputPost" placeholder="Postcode">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">ESTIMATE </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody></table>
        <a href="products.html" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
        <a href="login.html" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>

    </div>

{% endblock %}